<template>
  <div class="service">
    <div class="loading" v-if="loading">Loading...</div>
    <div v-if="error" class="error">
      {{ error }}
    </div>
    <transition name="slide">
      <!--
        giving the post container a unique key triggers transitions
        when the post id changes.
      -->
      <div v-if="service" class="content" :key="service.id">
        <h2>Codigo de Servicio: {{ service.id }}</h2>
        <p>Nombre: {{ service.name }}</p>
        <p>Precio: {{ service.price }}</p>
        <p>Duración: {{ service.duration }} minutos</p>
      </div>
    </transition>
  </div>
</template>

<script>
  import reservation from '../reservation'

  export default {
    data () {
      return {
        loading: false,
        service: null,
        error: null
      }
    },
    created () {
      this.fetchData()
    },
    watch: {
      '$route': 'fetchData'
    },
    methods: {
      fetchData () {
        reservation.get_service(this.$route.params.id, (err, response) => {
          this.loading = false
          if (err) {
            this.error = err.toString()
          } else {
            console.log(response)
            this.service = response
          }
        })
      }
    }
  }
</script>

<style>
  .loading {
    position: absolute;
    top: 10px;
    right: 10px;
  }
  .error {
    color: red;
  }
  .content {
    transition: all .35s ease;
    position: absolute;
  }
  .slide-enter {
    opacity: 0;
    transform: translate(30px, 0);
  }
  .slide-leave-active {
    opacity: 0;
    transform: translate(-30px, 0);
  }
</style>
