<style scoped>

</style>
<template>
  <div class="post">
    <div class="loading" v-if="loading">Loading...</div>
    <div v-if="error" class="error">
      {{ error }}
    </div>
    <form @submit.prevent="fetchData">
    <label><input v-model="searchValue" placeholder="Buscar un servicio por nombre"></label>
      <button type="submit">Buscar</button>
    </form>
      <transition-group name="list" tag="p">
        <span v-for="item in services" v-bind:key="item.id" class="list-item" v-if="showServices">
          <h2>{{ item.name }}</h2>
          <p>{{ item.duration }}</p>
          <router-link :to="{ name: 'ServiceDetail', params: { id: item.id}}">Ver detalles</router-link>
        </span>
        <p v-else>No se encontraron servicios</p>
      </transition-group>
  </div>
</template>

<script>
  import reservation from '../reservation'

  export default {
    name: 'ServiceSearch',
    data () {
      return {
        loading: false,
        services: [],
        error: null,
        searchValue: ''
      }
    },
    created () {
      this.fetchData()
    },
    watch: {
      '$route': 'fetchData'
    },
    methods: {
      fetchData () {
        this.error = null
        this.services = []
        this.loading = true
        reservation.get_services(this.searchValue, (err, response) => {
          this.loading = false
          if (err) {
            this.error = err.toString()
          } else {
            console.log(response.results)
            this.services = response.results
          }
        })
      },
      showServices () {
        return (this.services) ? this.services.length > 0 : false
      }
    }
  }
</script>

<style>
  .loading {
    position: absolute;
    top: 10px;
    right: 10px;
  }

  .error {
    color: red;
  }

  .list-item {
    display: inline-block;
    margin-right: 10px;
  }
  .list-enter-active, .list-leave-active {
    transition: all 1s;
  }
  .list-enter, .list-leave-to /* .list-leave-active below version 2.1.8 */ {
    opacity: 0;
    transform: translateY(30px);
  }
</style>
