<template>
  <div>
    <h2>Login</h2>
    <p v-if="$route.query.redirect">
      You need to login first.
    </p>
    <form @submit.prevent="login">
      <label><input v-model="username" placeholder="username"></label>
      <label><input v-model="pass" placeholder="password" type="password"></label><br>
      <button type="submit">Iniciar sesión</button>
      <p v-if="error" class="error">Usuario o contraseña incorrectos</p>
    </form>
  </div>
</template>

<script>
  import auth from '../auth'
  export default {
    data () {
      return {
        username: 'admin',
        pass: '',
        error: false
      }
    },
    methods: {
      login () {
        auth.login(this.username, this.pass, loggedIn => {
          if (!loggedIn) {
            this.error = true
          } else {
            this.$router.replace(this.$route.query.redirect || '/')
          }
        })
      }
    }
  }
</script>

<style>
  .error {
    color: red;
  }
</style>
