<template>
  <div id="app">
    <h1>Instant Salon</h1>
    <ul>
      <li>
        <router-link v-if="loggedIn" to="/logout">Log out</router-link>
        <router-link v-if="!loggedIn" to="/login">Log in</router-link>
      </li>
      <li>
        <router-link to="/about">Nosotros</router-link>
      </li>
      <li v-if="loggedIn" >
        <router-link to="/dashboard">Servicios</router-link>
      </li>
    </ul>
    <template v-if="$route.matched.length">
      <router-view></router-view>
    </template>
    <template v-else>
      <p>You are logged {{ loggedIn ? 'in' : 'out' }}</p>
    </template>
  </div>
</template>

<script>
  import auth from './auth/auth'

  export default {
    data() {
      return {
        loggedIn: auth.loggedIn()
      }
    },
    created() {
      auth.onChange = loggedIn => {
        this.loggedIn = loggedIn
      }
    }
  }
</script>
